@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This line was added with the first test commit.</p>
    <a href="/Users/Index">Users Database</a><br/>
    <a href="/Testing1/Index">Testing1 Database</a><br/>
    <a href="/Tests/Index">Test Database</a><br/>
    <a href="/Nutrients/Index">Nutrients Database</a><br/>
    <a href="/Recipes/Index">Recipes Database</a><br/>
    <a href="/FavouriteRecipes/Index">Favourite Recipes Database</a><br/>
    <a href="/Meal_Plans/Index">Meal plans Database</a><br/>
</div>
